@charset "UTF-8";
/*// mixins go here


@mixin row-bg-color	{
					color: $default-color *0.4;
					float: left;
					font-size: $company-numbers-font-size;
					height: $row-height;
					padding: $row-padding;
					text-transform: uppercase;
					width: 25%;
					}
					
@mixin row-values	{
				color: $table-header-color;
				display: inline-block;
				font-size: $table-header-font-size;
				text-transform: uppercase;
				}

@mixin float-l {
			float: left;
}	


@mixin float-r {
			float: right;
}			*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, scss/theme/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 27, scss/theme/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, scss/theme/_reset.scss */
body {
  line-height: 1; }

/* line 34, scss/theme/_reset.scss */
ol, ul {
  list-style: none; }

/* line 37, scss/theme/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 40, scss/theme/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, scss/theme/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 7, scss/theme/_theme.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 13, scss/theme/_theme.scss */
body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

/*
$company-name-color: #2B4DBA;
$company-name-font-size: 0.8em;
$company-name-font-weight: bold;
$company-numbers-font-size: 0.8em;

$value-name-font-size: 0.6em; 
$value-name-font-weight: normal;

$executive-name-font-size: 0.6em; 
$executive-name-font-weight: normal;

$default-color: #fff;
					

$row-padding: 8px 8px 0px 8px;
$header-padding: 8px 0px 0px 8px;

$row-height: 62px;
*/
/* styles for the index page go here */
/* line 2, scss/views/_index.scss */
html {
  height: 100%; }

/* line 6, scss/views/_index.scss */
body {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  height: 100%;
  padding: 0 20px;
  width: 100%; }

/* line 13, scss/views/_index.scss */
div#centered {
  margin: 10px auto;
  max-width: 960px; }

/* line 19, scss/views/_index.scss */
ul.listing {
  padding: 0; }

/* line 23, scss/views/_index.scss */
li {
  overflow: hidden; }

/* line 27, scss/views/_index.scss */
li.header-block {
  margin-bottom: 2px; }

/* line 31, scss/views/_index.scss */
ul.listing li.second-header-block {
  margin: 10px 0 2px 0; }

/* line 35, scss/views/_index.scss */
li div.company-name, div.revenue-cell, div.stability-cell, div.urgency-сell {
  display: inline-block;
  float: left;
  font-size: 0.8em;
  font-weight: bold;
  padding: 12px 8px 34px 8px;
  position: relative;
  text-transform: uppercase;
  width: 25%; }

/* line 46, scss/views/_index.scss */
li.content-values div.content-cell, li.content-values div.revenue-cell, li.content-values div.stability-cell, li.content-values div.urgency-cell {
  display: inline-block;
  font-size: 0.8em;
  font-weight: normal;
  padding: 12px 8px 12px 8px;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  width: 25%; }

/* line 57, scss/views/_index.scss */
li div.header-label {
  color: grey;
  display: inline-block;
  float: left;
  font-size: 7px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 8px 0px 0px 8px;
  position: relative;
  width: 25%; }

/* line 69, scss/views/_index.scss */
li div.header {
  color: grey;
  display: inline-block;
  float: left;
  font-size: 7px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 8px 0px 0px 8px;
  position: relative;
  width: 25%; }

/* line 81, scss/views/_index.scss */
li div.header-results {
  color: grey;
  display: inline-block;
  float: left;
  font-size: 7px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 8px 8px 0px 8px;
  position: relative;
  width: 25%; }

/* line 93, scss/views/_index.scss */
li div.header-left {
  color: grey;
  display: inline-block;
  float: left;
  font-size: 7px;
  text-transform: uppercase;
  overflow: hidden;
  position: relative; }

/* line 103, scss/views/_index.scss */
li div.header-right {
  color: grey;
  display: inline-block;
  float: right;
  font-size: 7px;
  text-transform: uppercase;
  overflow: hidden; }

/* line 112, scss/views/_index.scss */
img.graph {
  float: left; }

/* line 116, scss/views/_index.scss */
li.company-values {
  margin-bottom: 10px;
  overflow: hidden; }

/* line 121, scss/views/_index.scss */
li.row-values {
  height: 62px;
  margin-bottom: 1px;
  overflow: hidden; }

/* line 127, scss/views/_index.scss */
li.content-values {
  height: 62px;
  margin: 4px 0 1px 0;
  overflow: hidden; }

/* line 133, scss/views/_index.scss */
li div.company-name {
  background-color: #e5e5e5;
  color: #2B4DBA; }

/* line 140, scss/views/_index.scss */
li.row-values div.value-cell {
  background-color: #020202;
  color: #fcfcfc;
  display: inline-block;
  float: left;
  overflow: hidden;
  padding: 12px 8px 34px 8px;
  position: relative;
  width: 25%; }

/* line 152, scss/views/_index.scss */
li.content-values div.content-cell {
  background-color: #B70A0A;
  color: #fcfcfc;
  float: left;
  padding: 8px; }

/* line 160, scss/views/_index.scss */
li.content-values div.revenue-cell {
  background-color: #FCA3A3;
  color: #fcfcfc; }

/* line 166, scss/views/_index.scss */
li.content-values div.stability-cell {
  background-color: #E96565;
  color: #fcfcfc; }

/* line 172, scss/views/_index.scss */
li.content-values div.urgency-cell {
  background-color: #B70A0A;
  color: #fcfcfc; }

/* line 179, scss/views/_index.scss */
li.row-opening div.content-details {
  background-color: #b2b2b2;
  border: 1px solid #B70A0A;
  font-size: 100px;
  /*display: block;*/
  /* float: left;*/
  height: 40px;
  /* overflow: hidden;*/
  padding: 12px 8px 12px 8px;
  /*position: relative;*/
  /*clear: both;*/
  width: 100%; }

/* line 193, scss/views/_index.scss */
li div.value-cell-med {
  background-color: #727272;
  color: #fcfcfc;
  display: inline-block;
  float: left;
  overflow: hidden;
  padding: 12px 8px 34px 8px;
  position: relative;
  width: 25%; }

/* line 204, scss/views/_index.scss */
li div.value-cell-low {
  background-color: #e5e5e5;
  color: #727272;
  display: inline-block;
  float: left;
  overflow: hidden;
  padding: 12px 8px 34px 8px;
  position: relative;
  width: 25%; }

/* line 215, scss/views/_index.scss */
li div.value-name {
  font-size: 0.6em;
  font-weight: bold;
  text-transform: uppercase; }

/* line 221, scss/views/_index.scss */
li div.manager {
  font-size: 0.6em;
  font-weight: normal;
  margin-top: 5px;
  text-transform: none; }

/* line 228, scss/views/_index.scss */
li.content-values div.manager {
  font-size: 8px;
  font-weight: normal;
  margin-top: 5px;
  text-transform: none; }

/* line 235, scss/views/_index.scss */
li.content-values div.value-name {
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase; }

/* line 242, scss/views/_index.scss */
div.revenue-cell {
  background-color: #f2f2f2;
  color: #999999; }

/* line 249, scss/views/_index.scss */
div.stability-cell {
  background-color: #f9f9f9;
  color: #999999; }

/* line 255, scss/views/_index.scss */
div.urgency-сell {
  background-color: #e5e5e5;
  color: #999999; }

/* line 261, scss/views/_index.scss */
div.number-low {
  color: #cccccc;
  float: right; }

/* line 266, scss/views/_index.scss */
div.number-medium {
  color: #999999;
  float: right; }

/* line 271, scss/views/_index.scss */
div.number-high {
  color: #020202;
  float: right; }

/* line 276, scss/views/_index.scss */
div.stable-number-high {
  color: #020202;
  display: inline-block;
  margin-right: 3px; }

/* line 282, scss/views/_index.scss */
div.stable-number-medium {
  color: #7f7f7f;
  display: inline-block;
  margin-right: 3px; }

/* line 288, scss/views/_index.scss */
div.stable-number-low {
  color: #b2b2b2;
  display: inline-block;
  margin-right: 3px; }

/* line 294, scss/views/_index.scss */
div.total-number {
  color: #999999;
  display: inline-block; }

/* line 299, scss/views/_index.scss */
div.total-number-low {
  color: #bfbfbf;
  display: inline-block; }

/* line 306, scss/views/_index.scss */
div.low-urgency {
  color: #b2b2b2;
  display: inline-block;
  float: right; }

/* line 312, scss/views/_index.scss */
div.medium-urgency {
  color: #7f7f7f;
  display: inline-block;
  float: right; }

/* line 318, scss/views/_index.scss */
div.high-urgency {
  color: #020202;
  display: inline-block;
  float: right; }
