// variables for quick access to colors go here

$black      : #323232;
$blue       : #2D95BF;
$green      : #4eba6f;
$purple     : #955ba5;
$red        : #ed1c24;
$white      : #fff;
$yellow     : #f1c232;
$value-name-high-risk: #FAFAFA;