/*// mixins go here


@mixin row-bg-color	{
					color: $default-color *0.4;
					float: left;
					font-size: $company-numbers-font-size;
					height: $row-height;
					padding: $row-padding;
					text-transform: uppercase;
					width: 25%;
					}
					
@mixin row-values	{
				color: $table-header-color;
				display: inline-block;
				font-size: $table-header-font-size;
				text-transform: uppercase;
				}

@mixin float-l {
			float: left;
}	


@mixin float-r {
			float: right;
}			*/


