/*
$company-name-color: #2B4DBA;
$company-name-font-size: 0.8em;
$company-name-font-weight: bold;
$company-numbers-font-size: 0.8em;

$value-name-font-size: 0.6em; 
$value-name-font-weight: normal;

$executive-name-font-size: 0.6em; 
$executive-name-font-weight: normal;

$default-color: #fff;
					

$row-padding: 8px 8px 0px 8px;
$header-padding: 8px 0px 0px 8px;

$row-height: 62px;
*/

$company-name-color: #2B4DBA;

$company-name-font-size: 0.8em;

$value-name-font-size: 0.6em;

$content-name-font-size: 8px;

$company-values-font-weight: bold;

$value-name-font-weight: normal;

$company-numbers-font-size: 0.8em;

$default-color: #fff;

$high-urgency-color: #B70A0A;

$high-urgency-revenue-color: #FCA3A3;

$high-urgency-stability-color: #E96565;

$header-padding: 8px 0px 0px 8px;

$header-padding-sides: 8px 8px 0px 8px;

$row-padding: 12px 8px 34px 8px;

$row-value-name-padding: 12px 8px 12px 8px;

$row-content-padding: 8px;

$table-header-color: grey;

$table-header-font-size: 7px;

