/* styles for the index page go here */
html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  height: 100%;
  padding: 0 20px;
  width: 100%;
}

  div#centered {

    margin: 10px auto;
    max-width: 960px;
  }

    ul.listing {
      padding: 0;
    }

      li {
        overflow: hidden;
      }

      li.header-block {
       margin-bottom: 2px;
      }

      ul.listing li.second-header-block {
       margin: 10px 0 2px 0;
      }
  
              %cell {
                display: inline-block;
                float: left;
                font-size: $company-numbers-font-size;
                font-weight: $company-values-font-weight;
                padding: $row-padding;
                position: relative;
                text-transform: uppercase;
                width: 25%;
              }

              %cell-content {
                display: inline-block;
                font-size: $company-numbers-font-size;
                font-weight: $value-name-font-weight;
                padding: $row-value-name-padding;
                position: relative;
                overflow: hidden;
                text-transform: uppercase;
                width: 25%;
              }

        li div.header-label {
          color: $table-header-color;
          display: inline-block;
          float: left;
          font-size: $table-header-font-size;
          text-transform: uppercase;
          overflow: hidden;
          padding: $header-padding;
          position: relative; 
          width: 25%;
        }

        li div.header {
          color: $table-header-color;
          display: inline-block;
          float: left;
          font-size: $table-header-font-size;
          text-transform: uppercase;
          overflow: hidden;
          padding: $header-padding;
          position: relative; 
          width: 25%; 
        }

        li div.header-results {
          color: $table-header-color;
          display: inline-block;
          float: left;
          font-size: $table-header-font-size;
          text-transform: uppercase;
          overflow: hidden;
          padding: $header-padding-sides;
          position: relative; 
          width: 25%; 
        }

        li div.header-left {
          color: $table-header-color;
          display: inline-block;
          float: left;
          font-size: $table-header-font-size;
          text-transform: uppercase;
          overflow: hidden;
          position: relative; 
        }

        li div.header-right {
          color: $table-header-color;
          display: inline-block;
          float: right;
          font-size: $table-header-font-size;
          text-transform: uppercase;
          overflow: hidden;
        }

          img.graph {
            float: left;
          }

         li.company-values {
          margin-bottom: 10px;
          overflow: hidden;
         } 

         li.row-values {
          height: 62px;
          margin-bottom: 1px;
          overflow: hidden;
         } 

         li.content-values {
          height: 62px;
          margin: 4px 0 1px 0;
          overflow: hidden;
         } 

          li div.company-name {
             @extend %cell;
            background-color: $default-color *0.9;
            color: $company-name-color;
          }


          li.row-values div.value-cell {
            background-color: $default-color *0.01;
            color: $default-color *0.99;
            display: inline-block;
            float: left;
            overflow: hidden;
            padding: $row-padding;
            position: relative;
            width: 25%;
          }


          li.content-values div.content-cell {
            @extend %cell-content;
            background-color: $high-urgency-color;
            color: $default-color *0.99;
            float: left;
            padding: $row-content-padding;
          }

          li.content-values div.revenue-cell {
            @extend %cell-content;
            background-color: $high-urgency-revenue-color;
            color: $default-color *0.99; 
          }

          li.content-values div.stability-cell {
            @extend %cell-content;
            background-color: $high-urgency-stability-color;
            color: $default-color *0.99;
          }

          li.content-values div.urgency-cell {
            @extend %cell-content;
            background-color: $high-urgency-color;
            color: $default-color *0.99;
          }
          

          li.row-opening div.content-details {
            background-color: $default-color *0.7;
            border: 1px solid $high-urgency-color;
            font-size: 100px;
            /*display: block;*/
           /* float: left;*/
            height: 40px;
           /* overflow: hidden;*/
            padding: $row-value-name-padding;
            /*position: relative;*/
            /*clear: both;*/
            width: 100%;
          }

          li div.value-cell-med {
            background-color: $default-color *0.45;
            color: $default-color *0.99;
            display: inline-block;
            float: left;
            overflow: hidden;
            padding: $row-padding;
            position: relative;
            width: 25%;
          }

          li div.value-cell-low {
            background-color: $default-color *0.9;
            color: $default-color *0.45;
            display: inline-block;
            float: left;
            overflow: hidden;
            padding: $row-padding;
            position: relative;
            width: 25%;
          }

            li div.value-name {
              font-size: $value-name-font-size;
              font-weight: $company-values-font-weight;
              text-transform: uppercase;
            }

              li div.manager {
                font-size: $value-name-font-size;
                font-weight: $value-name-font-weight;
                margin-top: 5px;
                text-transform: none;
              } 

              li.content-values div.manager {
                font-size: $content-name-font-size;
                font-weight: $value-name-font-weight;
                margin-top: 5px;
                text-transform: none;
              } 

              li.content-values div.value-name {
                font-size: $content-name-font-size;;
                font-weight: $company-values-font-weight;
                text-transform: uppercase;
              } 


            div.revenue-cell {
              @extend %cell;
              background-color: $default-color *0.95; 
              color: $default-color *0.6;           
            }


            div.stability-cell {
              @extend %cell;
              background-color: $default-color *0.98;
              color: $default-color *0.6;
            }
          
            div.urgency-сell {
              @extend %cell;
              background-color: $default-color *0.9;
              color: $default-color *0.6;
            }

              div.number-low {
                color: $default-color *0.8;
                float: right;
              }

              div.number-medium {
                color: $default-color *0.6;
                float: right;
              }

              div.number-high {
                color: $default-color *0.01;
                float: right;
              }
          
                div.stable-number-high {
                  color: $default-color *0.01;
                  display: inline-block;
                  margin-right: 3px;
                }

                div.stable-number-medium {
                  color: $default-color *0.5;
                  display: inline-block;
                  margin-right: 3px;
                }

                div.stable-number-low {
                  color: $default-color *0.7;
                  display: inline-block;
                  margin-right: 3px;
                }

                div.total-number {
                  color: $default-color *0.6;
                  display: inline-block;
                }

                div.total-number-low {
                  color: $default-color *0.75;
                  display: inline-block;
                }

              

              div.low-urgency {
                color: $default-color *0.7;
                display: inline-block;
                float: right;
              }

              div.medium-urgency {
                color: $default-color *0.5;
                display: inline-block;
                float: right;
              }

              div.high-urgency {
                color: $default-color *0.01;
                display: inline-block;
                float: right;
              }



   